@import url('https://fonts.googleapis.com/css?family=Assistant|Quicksand|Fira+Mono&display=swap');

:root {
    --header-bg:      #0c4f77;
    --header-bg-dark: #083c5b;
    --header-lighter: #d0effb;
    --header-light:   #aad8f4;
    --header-dark:    #699abd;
}

body {
    background: #eee;
}

#wiki-wrapper {
    max-width: none;
    padding: 0;
}

#head {
    background: var(--header-bg);
    width: 100%;
    height: 85px;
    margin: 0;
    padding: 0;
    font-family: Assistant, sans-serif;
}

#head h1 {
    max-width: 940px;
    margin: 5px auto 3px auto;
    padding: 0 10px;
    font-size: 35px;
    font-weight: normal;
    font-family: Quicksand, sans-serif;
    float: none;
    color: var(--header-lighter);
}

#head h1 strong {
    color: var(--header-lighter);
    font-weight: normal;
}

#head ul.actions {
    max-width: 940px;
    margin: auto;
    padding: 0 10px;
    float: none;
}

#head ul.actions li {
    margin: 0;
}

#head .action-fileview {
    display: none;
}

#head #searchbar {
    padding: 0;
    margin: 0 5px 0 0;
}

#head #searchbar #searchbar-fauxtext input#search-query {
    background: var(--header-bg-dark);
    color:      var(--header-light);
    font-size: 13px;
}

#head #searchbar #searchbar-fauxtext input#search-query.ph {
    color: var(--header-dark);
}

#head #searchbar #searchbar-fauxtext {
    border-radius: 0;
    border: none;
}

#head #searchbar #search-submit {
    display: none;
}

#head .actions .minibutton a {
    border: none;
    background: none;
    color: var(--header-light);
    text-shadow: none;
    padding: 2px 8px 3px 8px;
    font-size: 15px;
    font-weight: normal;
    border-radius: 0;
}

#head .actions .minibutton a:hover {
    color: var(--header-lighter);
    text-shadow: none;
    background: var(--header-bg-dark);
}

.action-home-page::before {
    display: inline-block;
    content: "";
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 20 20" fill="%23aad8f4" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M9.646 3.146a.5.5 0 01.708 0l6 6a.5.5 0 01.146.354v7a.5.5 0 01-.5.5h-4.5a.5.5 0 01-.5-.5v-4H9v4a.5.5 0 01-.5.5H4a.5.5 0 01-.5-.5v-7a.5.5 0 01.146-.354l6-6zM4.5 9.707V16H8v-4a.5.5 0 01.5-.5h3a.5.5 0 01.5.5v4h3.5V9.707l-5.5-5.5-5.5 5.5z" clip-rule="evenodd"/><path fill-rule="evenodd" d="M15 4.5V8l-2-2V4.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z" clip-rule="evenodd"/></svg>');
    background-repeat: no-repeat;
    background-size: 18px 18px;
    width: 15px;
    height: 15px;
    margin: 0 5px 0 -2px;
}

#wiki-content, #wiki-history, #pages, #compare-content, .results #results {
    background: white;
    margin: 0;
}

#wiki-body, #file-browser, #gollum-editor, #version-form
#wiki-history > ul.actions,
#wiki-history > fieldset,
.results #results > ul {
    float: none;
    max-width: 940px;
    padding: 10px;
    margin: 0 auto 0 auto;
}

#version-form {
    padding-top: 0;
}

#wiki-history > ul.actions {
    padding-bottom: 0;
}

.markdown-body {
    padding: 5px 10px 10px 10px;
}

#file-browser {
    padding-bottom: 20px;
}

.page #footer, .history #footer, #footer {
    max-width: 940px;
    padding: 0 10px;
    margin: 0 auto;
    border-top: none;
}

#pages .breadcrumb {
    border: 0;
    margin: 0 0 10px 0;
    padding: 0;
}

.results #results ul li {
    list-style: none;
}

.results #results {
    border: none;
}

#footer p {
    float: left;
    margin: 0.9em 1em;
    font-size: .9em;
    height: 1em;
    line-height: 1.6em;
}

#footer ul.actions {
    display: none;
}

#delete-link {
    color: #b00;
}

#gollum-editor {
    background: none;
    border: none;
}

#gollum-editor textarea {
    margin: 0;
    font-family: "Fira Mono", monospace;
    background: #f5f5f5;
}

.markdown-body code, .markdown-body pre, .markdown-body tt {
    font-family: "Fira Mono", monospace;
}

#gollum-editor .singleline input {
    background: #f5f5f5;
}

#gollum-editor #gollum-editor-function-bar.active #gollum-editor-function-buttons {
    display: none;
}

#gollum-editor #gollum-editor-function-bar #gollum-editor-format-selector {
    text-align: left;
    padding: 0;
}

#gollum-editor #gollum-editor-function-bar {
    border-bottom: none;
}

#gollum-editor #gollum-editor-function-bar #gollum-editor-format-selector select {
    font-weight: normal;
}

#gollum-editor .singleline {
    margin: 0;
}

#gollum-editor .singleline input {
    margin-bottom: 0;
}

#gollum-dialog-dialog-inner {
    height: 275px !important;
    min-height: 275px !important;
}

#gollum-dialog-dialog-body fieldset .field:last-child {
    margin: 0;
}

#gollum-editor-title-field.active {
    border-bottom: none;
    padding: 0;
}

#gollum-editor .path_note {
    margin-top: 20px;
    text-align: left;
    color: #444;
}

.toc {
    margin: 0 0 15px 0;
}

.toc-title {
    color: #444;
    font-size: 18px;
}

.toc > ul {
    font-size: 17px;
    font-size: 14px;
}
